*{
        margin: 0;
        text-align: center;
        box-sizing: border-box;
}
header {
        width: 100%;
        position: fixed;
        z-index: 100;
        background-color: #ED007D;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
header nav {
        width: 90%;
        max-width: 1000px;
        margin: 20px auto;
        background-color: #ED007D;
}
header nav ul {
        overflow: hidden;
        list-style: none;
}
header nav ul li {
        float: left;       
}
header nav ul li a{
        font-family: 'Roboto', sans-serif;
        font-size: 1rem;
        color: #ffffff;
        display: inline-block;
        padding-left: .5rem;
        padding-right: .5rem;
        text-decoration: none;
        text-align: left;
}
header nav ul li a:hover {
        background: #CA076E;
}
/*.mobile-barMenu {
        display: none;
}
@media screen and (max-width:800px) {
        header nav {
                width: 75%;
                height: 100%;
                margin: 0;
                position: fixed;
        }
        header nav ul li {
                display: block;
                float: none;
                border-bottom: 1px solid rgbs(255,255,255, .3);
                text-align: left;
                padding-top: 1rem;
                padding-bottom: 1rem;
        }
        .mobile-barMenu {
                display: block;
                width: 100%;
                background: #ED007D
        }
        .mobile-barMenu .btn-menu {
                display: block;
                padding: 20px;
                background: #ED007D;
                color: #ffffff;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                border: 0;
        }
        .mobile-barMenu i {
                float: right;
                font-size: 40px;
        }

}*/

.index {
        padding-top: 9rem;
}
.post {
        justify-content: center;
        margin: auto;
        box-sizing: content-box;
}
.createPost {
        border-radius: 0.3125rem;
        outline: none;
        width: 95%;
        height: 5%;
        background-color: transparent;
        text-align: left;
        font-family: 'Roboto', sans-serif;
        font-size: 1.2rem;
}
.era {
        width: 9.8rem;
}
.privacy {
        width: 6.875rem;
}
.era, .privacy {
        border-radius: 0.3125rem;
        border: 0.125rem solid #FF9C08;
        background-color: transparent;
        font-size: 0.9rem;
        height: 2.5rem;
        font-family: 'Roboto', sans-serif;
        font-size: 1rem;
}
.makePost{
        background-color: #F1C711;
        border-radius: 0.3125rem;
        border: 0;
        width: 6.875rem;
        height: 2.5rem;
        font-family: 'Roboto', sans-serif;
}
.makePost:hover {
        background-color: #FF9C08;
}
footer {
        width: 100%;
        height: 3.75rem;
        background-color: #22A438;
        position: fixed;
        bottom: 0;
}
i {
        margin-left: 1.3rem;
        margin-right: 1.3rem;
        padding-top: 1rem;
}